<footer class="container footer-container">
  <div class="footer-wrap">
    <div class="footer-socials-logo">
      <div class="footer-logo-wrapper">
        <a href="" class="footer-logo-link">
          <svg class="footer-logo" width="196" height="84">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <ul class="footer-socials">
        <li class="footer-socials-item">
          <a class="footer-link-social" href="https://www.facebook.com/">
            <svg class="footer-social-icon" width="32" height="32">
              <use href="/img/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="footer-socials-item">
          <a class="footer-link-social" href="https://www.instagram.com/">
            <svg class="footer-social-icon" width="32" height="32">
              <use href="/img/sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="footer-socials-item">
          <a class="footer-link-social" href="https://x.com/">
            <svg class="footer-social-icon" width="32" height="32">
              <use href="/img/sprite.svg#icon-X"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="nav-link footer-link" href="#hero" class="footer-nav-link"
            >About us</a
          >
        </li>
        <li class="footer-nav-item">
          <a
            class="nav-link footer-link"
            href="#welcome"
            class="footer-nav-link"
            >Benefits</a
          >
        </li>
        <li class="footer-nav-item">
          <a
            class="nav-link footer-link"
            href="#experience"
            class="footer-nav-link"
            >Gallery</a
          >
        </li>
        <li class="footer-nav-item">
          <a
            class="nav-link footer-link"
            href="#testimononials"
            class="footer-nav-link"
            >Testimonial</a
          >
        </li>
        <li class="footer-nav-item">
          <a
            class="nav-link footer-link"
            href="#location"
            class="footer-nav-link"
            >Location</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <p class="footer-description">© 2025 CoffeeJoy. All rights reserved.</p>
</footer>
<div class="backdrop">
  <div class="modal">
    <button type="button" class="backdrop-btn" data-modal-close>
      <svg class="close-icon" width="14" height="14">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="backdrop-title">Welcome to the world of CoffeeJoy!</p>
    <p class="backdrop-descr">
      Fresh brews, special offers, and cozy updates are coming your way.
    </p>
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/backdrop/backdrop_big.jpg    1x,
          ../img/backdrop/backdrop_big@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="../img/backdrop/backdrop_mobile.jpg 1x  
        ../img/backdrop/backdrop_mobile@2x.jpg 2x"
      />
      <img
        class="backdrop-image"
        src="../img/backdrop/backdrop_mobile.jpg"
        alt="coffe illustration"
        width="256"
        height="200"
      />
    </picture>
    <button class="close-modal-button" type="button">Close</button>
  </div>
</div>
