<header class="header">
  <div class="container">
    <a href="/index.html" class="header-logo">
      <svg class="logo-icon" width="84" height="36">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#hero" class="nav-link">About us</a></li>
        <li class="nav-item">
          <a href="#welcome" class="nav-link">Benefits</a>
        </li>
        <li class="nav-item">
          <a href="#experience" class="nav-link">Gallery</a>
        </li>
        <li class="nav-item">
          <a href="#testimononials" class="nav-link">Testimonial</a>
        </li>
        <li class="nav-item">
          <a href="#location" class="nav-link">Location</a>
        </li>
      </ul>
    </nav>

    <button class="burger-btn">
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="mobile-menu">
      <div class="container container-menu">
        <a href="/index.html" class="logo">
          <svg class="logo-icon" width="84" height="36">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <button class="mobile-btn">
          <svg class="close-icon" width="12" height="12">
            <use href="/img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="nav-mobile">
          <ul class="mobile-nav-list">
            <li class="mobile-nav-item">
              <a class="nav-link-mobile" href="#hero">About us</a>
            </li>
            <li class="mobile-nav-item">
              <a class="nav-link-mobile" href="#welcome">Benefits</a>
            </li>
            <li class="mobile-nav-item">
              <a class="nav-link-mobile" href="#experience">Gallery</a>
            </li>
            <li class="mobile-nav-item">
              <a class="nav-link-mobile" href="#testimononials">Testimonial</a>
            </li>
            <li class="mobile-nav-item">
              <a class="nav-link-mobile" href="#location">Location</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
