<section class="container-location" id="location">
    <div class="location-content">

        <div class="location-row">
            <div class="location-header">
                <p class="location-find">Find</p>
                <h2 class="location-name">Location</h2>
                <p class="location-text">Visit us at our cozy coffee shop!</p>
            </div>
       
            <div class="location-contact">
                <ul class="location-contact-list">
                    <li class="location-contact-item">
                        <div class="location-icon">
                            <svg class="location-icon-email" width="27" height="22">
                                <use href="/img/sprite.svg#icon-email"/>
                            </svg>
                        </div>
                        <h3 class="location-title">Email</h3>
                        <a href="mailto:hello@coffeejoy.com" class="location-app">hello@coffeejoy.com</a>
                    </li>
            
                    <li class="location-contact-item">
                        <div class="location-icon">
                            <svg class="location-icon-phone" width="26" height="26">
                                <use href="/img/sprite.svg#icon-phone"/>
                            </svg>
                        </div>
                        <h3 class="location-title">Phone</h3>
                        <a href="tel:+15551235321" class="location-app">+1 (555) 123-5321</a>
                    </li>
       
                    <li class="location-contact-item">
                        <div class="location-icon">
                            <svg class="location-icon-map" width="22" height="27">
                                <use href="/img/sprite.svg#icon-office"/>
                            </svg>
                        </div>
                        <h3 class="location-title">Office</h3>
                        <p class="location-add">263 Newbury St, Boston, MA 02116, USA</p>
                        <div class="location-btn-wrapper">  
                            <button type="button" class="location-btn">
                                <a href="https://maps.app.goo.gl/oCggw9bWw9SAXiRn7" class="location-link" target="_blank">Get Directions</a>
                                <svg class="location-icon-button" width="8" height="12">
                                    <use href="/img/sprite.svg#icon-chevron"/>
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="location-map">
            <iframe
                class="location-map-img"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.6691136191835!2d-71.08594152370665!3d42.34957747119399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0f084cda31%3A0x2c61033530218739!2zMjYzIE5ld2J1cnkgU3QsIEJvc3RvbiwgTUEgMDIxMTYsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1762387618865!5m2!1suk!2sua"
                style="border:0;"
                allowfullscreen=""
                loading="lazy">
            </iframe>
        </div>
    </div>
</section>