<section class="quality-section">
    <div class="container">
        <div class="quality-top">
            <p class="quality-top-p">Quality</p>

            <h2 class="quality-title">
                Why CoffeeJoy Stands Out from the Rest
            </h2>
            
            <p class="quality-title-p">
                At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with care by our skilled baristas. Our flexible subscription plans ensure that your coffee experience is tailored to your needs.
            </p>
        </div>
        <div class="quality-bottom">
            <ul class="quality-list">
                <li class="quality-list-item">
                    <img srcset="/img/quality/fresh-coffee-desk-min.jpg 1x, /img/quality/fresh-coffee-desk@2x-min.jpg 2x" src="/img/quality/fresh-coffee-desk-min.jpg" alt="fresh coffee" class="quality-img">
                    <div class="quality-img-description">
                        <h3 class="quality-img-title">Fresh-Roasted Coffee for Every Taste</h3>
                        <p class="quality-img-p first">Savor the rich flavors of our expertly sourced beans.</p>
                    </div>
                </li>

                <li class="quality-list-item">
                    <img srcset="/img/quality/barista-craft-desk-min.jpg 1x, /img/quality/barista-craft-desk@2x-min.jpg 2x" src="/img/quality/barista-craft-desk-min.jpg" alt="barista craft" class="quality-img">
                    <div class="quality-img-description">
                        <h3 class="quality-img-title">Expert Baristas Crafting Your Perfect Brew</h3>
                        <p class="quality-img-p second">Our baristas are passionate about coffee and skilled in their craft.</p>
                    </div>
                </li>

                <li class="quality-list-item">
                    <img srcset="/img/quality/cozy-desk-min.jpg 1x, /img/quality/cozy-desk@2x-min.jpg 2x" src="/img/quality/cozy-desk-min.jpg" alt="cozy desk" class="quality-img">
                    <div class="quality-img-description">
                        <h3 class="quality-img-title">Cozy Atmosphere</h3>
                        <p class="quality-img-p last">We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>