<section class="sbc-sec">
  <div class="subscribe-section">
    <div class="subscribe-text-content">
      <h2 class="subscribe-title">Join Our Coffee Community</h2>
      <p class="subscribe-description">
        Experience the joy of coffee delivered right to your door. Sign up today!
      </p>
  
      <form class="subscribe-form">
        <input
          type="email"
          class="email-input"
          placeholder="Your Email Here"
          required
        />
        <button type="submit" class="subscribe-btn">
          Subscribe
          <svg class="btn-icon" width="13" height="12">
            <use href="/img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
  
      <p class="terms-text">
        By clicking Get Started, you agree to our Terms and Conditions.
      </p>
    </div>
    <div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/subscribe/meet-desk-min.jpg    1x,
            /img/subscribe/meet-desk@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/subscribe/meet-tab-min.jpg    1x,
            /img/subscribe/meet-tab@2x-min.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/subscribe/meet-mob-min.jpg    1x,
            /img/subscribe/meet-mob@2x-min.jpg 2x
          "
        />
        <img
          src="/img/subscribe/meet-desk-min.jpg"
          alt="people working with coffee"
          class="subscribe-image"
        />
      </picture>
    </div>
  </div>
</section>
