<section class="testimonial" id="testimonial">
  <div class="container">
    <div class="test-cont">
      <h2 class="head-test">What our visitors say</h2>
      <ul class="test-list">
        <li class="test-item">
          <div class="icon-block">
            <ul class="test-icon">
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon-not" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-not-fill"></use>
                </svg>
              </li>
            </ul>

            <p class="description">
              "Every cup feels like a warm hug! I&#39;m addicted to their
              seasonal flavors!"
            </p>
          </div>
          <h3 class="name-test">Name Surname</h3>
        </li>
        <li class="test-item">
          <div class="icon-block">
            <ul class="test-icon">
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon-not" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-not-fill"></use>
                </svg>
              </li>
            </ul>
            <p class="description">
              "CoffeeJoy is my go-to place for a perfect cup of coffee! The
              ambiance is so inviting, and the baristas are always friendly."
            </p>
          </div>
          <h3 class="name-test">Alice Johnson</h3>
        </li>
        <li class="test-item">
          <div class="icon-block">
            <ul class="test-icon">
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
            </ul>

            <p class="description">
              "I love the variety of blends offered at CoffeeJoy. Every visit
              feels like a new experience!"
            </p>
          </div>
          <h3 class="name-test">Michael Smith</h3>
        </li>
        <li class="test-item">
          <div class="icon-block">
            <ul class="test-icon">
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon-not" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-not-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon-not" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-not-fill"></use>
                </svg>
              </li>
            </ul>

            <p class="description">
              "The pastries are to die for! I can&#39;t resist pairing them with
              my favorite latte. Highly recommend this spot!"
            </p>
          </div>
          <h3 class="name-test">Emily Davis</h3>
        </li>
        <li class="test-item">
          <div class="icon-block">
            <ul class="test-icon">
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
            </ul>
            <p class="description">
              "A cozy little gem! CoffeeJoy has the best cold brew in town. I
              come here every weekend!"
            </p>
          </div>
          <h3 class="name-test">James Brown</h3>
        </li>
        <li class="test-item">
          <div class="icon-block">
            <ul class="test-icon">
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon-not" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-not-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon-not" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-not-fill"></use>
                </svg>
              </li>
            </ul>

            <p class="description">
              "The atmosphere is perfect for working or relaxing with friends.
              Their Wi-Fi is fast too!"
            </p>
          </div>
          <h3 class="name-test">Sarah Wilson</h3>
        </li>
        <li class="test-item">
          <div class="icon-block">
            <ul class="test-icon">
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon-not" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-not-fill"></use>
                </svg>
              </li>
            </ul>

            <p class="description">
              "I&#39;m addicted to their seasonal flavors! Each one is crafted
              with such care and creativity."
            </p>
          </div>
          <h3 class="name-test">Chris Lee</h3>
        </li>
        <li class="test-item">
          <div class="icon-block">
            <ul class="test-icon">
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li class="test-icon-item">
                <svg class="star-icon-not" width="20" height="19">
                  <use href="/img/sprite.svg#icon-star-not-fill"></use>
                </svg>
              </li>
            </ul>

            <p class="description">
              "I appreciate how they source their coffee beans sustainably. It's
              great to support such an ethical business!"
            </p>
          </div>
          <h3 class="name-test">Patricia Taylor</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
