<section class="welcome">
  <div class="welcome-container">
    <div class="welcome-heading-container">
      <h4 class="small-title">Welcome</h4>
      <h2 class="welcome-heading">Our Journey: Passion for Quality Coffee</h2>
    </div>
    <p class="welcome-text">
      At CoffeeJoy, we believe that every cup tells a story.
      Our mission is to
      bring you the finest coffee experiences,
      crafted with care and dedication.
      We are committed to sourcing high-quality beans
      and roasting them to perfection, ensuring each sip is a delight.
    </p>
    <button class="fnd-location">Find Location
      <svg width="20px" height="20px" class="location-icon">
      <use href="./img/sprite.svg#icon-location"></use>
    </svg>
    </button>
    <img src="../img/welcome/man-make-coffee-tab@2x-min.png"
         alt="cafe image"
         class="welcome-image"
         width="258px"
         height="162px"
    >
  </div>
</section>