<section class="welcome">
  <div class="welcome-container">
    <div class="welcome-content">
      <div class="welcome-heading-container">
        <h4 class="small-title">Welcome</h4>
        <h2 class="welcome-heading">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="text-container"><p class="welcome-text">
        At CoffeeJoy, we believe that every cup tells a story.
        Our mission is to
        bring you the finest coffee experiences,
        crafted with care and dedication.
        We are committed to sourcing high-quality beans
        and roasting them to perfection, ensuring each sip is a delight.
      </p>
        <button class="fnd-location">Find Location
          <svg width="20px" height="20px" class="location-icon">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
        </button>
      </div>
    </div>
    <img class="welcome-image"
         alt=""
         srcset="../img/welcome/man-make-coffee-mob-min.jpg 288w,
          ../img/welcome/man-make-coffee-mob@2x-min.jpg 576w,
          ../img/welcome/man-make-coffee-desk-min.jpg 1312w,
          ../img/welcome/man-make-coffee-desk@2x-min.jpg 2624w,
          ../img/welcome/man-make-coffee-tab-min.jpg 704w,
          ../img/welcome/man-make-coffee-tab@2x-min.png 1408w"
         sizes="(min-width: 1440px) 1312px, (min-width: 768px) 704px, 288px"
         src="../img/welcome/man-make-coffee-mob-min.jpg"
    >
    </div>


</section>