/* Styles for Mobile devices */
.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 64px;
  }
}
/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
