@import url('base.css');

.exp-section {
    padding: 64px 0;
}

.chapter {
    margin-bottom: 32px;
}

.exp-h {
    margin-bottom: 24px;
}

.exp-mes {
    font-size: 18px;
    text-align: center;
}

.exp-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .exp-list {
        gap: 32px;
    }
}

@media (min-width: 1440px) {
    .exp-list {
        flex-direction: column;
        max-height: 948px;
    }
}

.exp-img {
    border-radius: 32px;
    width: 100%;
    min-width: 200px;
    min-height: 200px;
}

.sm-img {
    border-radius: 32px;
    width: 100%;
    min-width: 200px;
    min-height: 112px;
}

.lg-img {
    width: 100%;
    aspect-ratio: 288/391;
    object-fit: cover;
    border-radius: 32px;
    min-width: 200px;
    min-height: 300px;
}

@media screen and (min-width: 768px) {
    .exp-img {
        width: 336px;
        height: 336px;
        min-width: 300px;
        min-height: 300px;
    }

    .sm-img {
        width: 336px;
        height: 189px;
        min-width: 300px;
        min-height: 168px;
    }

    .lg-img {
        min-width: 300px;
        min-height: 300px;
        aspect-ratio: 704/391;
    }
}

@media screen and (min-width: 1440px) {
    .exp-img {
        width: 416px;
        height: 416px;
    }

    .sm-img {
        width: 416px;
        height: 234px;
    }

    .lg-img {
        width: 416px;
        height: 416px;
        aspect-ratio: auto;
    }
}