.footer-container {
  background-color: #b58869;
  padding: 24px 16px;
}

.footer-wrap {
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 40px;
  padding: 32px 46px;
  max-width: 100%;
  background-color: #c29d84;
  margin-bottom: 32px;
}
.footer-logo-wrapper {
}
.footer-logo {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}
.footer-socials-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footer-socials-item {
}
.footer-link {
  color: inherit;
}
.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 32px;
}
.footer-social-icon {
}
.footer-nav {
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.footer-nav-item {
}
.footer-nav-link {
}
.footer-description {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 24px 32px;
  }
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-left: 124px;
    padding-right: 124px;
  }
  .footer-socials-logo {
    flex-direction: row;
    margin: 0 auto 32px;
  }
  .footer-logo {
    width: 84px;
    height: 36px;
  }
  .footer-social-icon {
    width: 24px;
    height: 24px;
  }
  .footer-socials {
    margin: 0;
  }
  .footer-nav-list {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    padding: 24px 64px;
  }
  .footer-wrap {
    display: flex;
    align-items: center;
    padding: 32px 48px;
  }
  .footer-socials-logo {
    display: flex;
    gap: 40px;
    margin: 0;
    margin-right: auto;
  }

  .footer-link-social {
    transition: opacity 250ms ease-in-out;
  }

  .footer-link-social:focus,
  .footer-link-social:hover {
    opacity: 0.5;
  }
}

/* #region backdrop */
.backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  padding-top: 64px;
  padding-right: 16px;
  padding-left: 16px;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  width: 288px;
  min-height: 631px;
  background-color: #e0cbb4;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-btn {
  width: 32px;
  height: 32px;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}

.backdrop-btn:active {
  opacity: 50%;
}

.backdrop-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
  min-width: 100%;
  margin-bottom: 16px;
}

.backdrop-descr {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  margin-bottom: 24px;
}
.backdrop-image {
  border-radius: 24px;
  width: 256px;
  margin-bottom: 24px;
}
.close-modal-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0 auto;
  font: inherit;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  min-width: 256px;
  border-radius: 100px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button:active {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 704px;
    max-height: 771px;
    padding: 64px 30px;
  }
  .backdrop-title {
    font-size: 36px;
    max-width: 502px;
  }
  .backdrop-descr {
    margin-bottom: 48px;
  }
  .backdrop-image {
    border-radius: 40px;
    width: 644px;
    margin-bottom: 48px;
  }
  .close-modal-button {
    display: block;
    margin: 0 auto;
    min-width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    min-width: 866px;
    max-height: 801px;
    padding: 64px;
  }
  .backdrop-btn {
    right: 73px;
  }
  .backdrop-btn:hover {
    opacity: 50%;
  }
  .backdrop-title {
    font-size: 48px;
    max-width: 738px;
  }
  .backdrop-image {
    border-radius: 40px;
    width: 644px;
    margin: 0 auto 48px;
  }
  .close-modal-button {
    min-width: 274px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-modal-button:hover {
    box-shadow: none;
  }
  .close-modal-button:active {
    color: inherit;
  }
}

/* #endregion */
