.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding: 18px 0;
  align-items: center;
}

.header-nav {
  display: none;
}

.burger-btn {
  border: none;
  background-color: transparent;
}

.burger-icon {
  fill: #0b0803;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
  }

  .nav-list {
    display: flex;
    column-gap: 32px;
  }

  .nav-link {
    color: #0b0803;
  }
}
