.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.header-logo {
  padding: 18px 0;
  align-items: center;
}

.header-nav {
  display: none;
}

.burger-btn {
  border: none;
  background-color: transparent;
  width: 48px;
  height: 48px;
}

.burger-icon {
  fill: #0b0803;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
  }

  .nav-list {
    display: flex;
    column-gap: 32px;
  }

  .header .container {
    padding: 0 64px;
  }

  .nav-link {
    color: #0b0803;
    transition: opacity 250ms ease-in-out;
  }

  .nav-link:focus,
  .nav-link:hover {
    opacity: 0.5;
  }
}
