.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #e0cbb4;
  opacity: 0;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 1000;
}

.container .container-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.mobile-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: opacity 250ms ease-in-out;
}

.mobile-btn:focus,
.mobile-btn:hover {
  opacity: 0.5;
}

.logo {
  position: absolute;
  top: 18px;
  left: 16px;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.mobile-nav-list {
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
}

.nav-link-mobile {
  color: #0b0803;
  transition: opacity 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.nav-link-mobile:focus,
.nav-link-mobile:hover {
  opacity: 0.5;
}
