.quality-section {
  padding: 64px 0;
}
.quality-top {
  margin-bottom: 32px;
  text-align: center;
}
.quality-top-p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  margin-bottom: 16px;
}
.quality-title {
  font-weight: 400;
  font-size: 36px;
  font-family: 'aboreto';
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
  margin-bottom: 24px;
}
.quality-title-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
}
.quality-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.quality-img {
  border-radius: 32px;

}
.quality-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.quality-img-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
}
.quality-img-description {
  padding: 0 2px;
  text-align: center;
}
.quality-img-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
}
@media only screen and (min-width: 768px) {
  .quality-top-p {
    margin-bottom: 16px;
  }
  .quality-list {
    max-width: 768px;
    gap: 24px 24px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .quality-title {
    margin: 0 128px 24px 128px;
  }
  /* !!! */

  .quality-list-item:nth-child(3) {
    grid-column: 1 / span 2;
  }
  /* !!! */
  .quality-list-item img {
    width: 100%;
  }
  /* !!! */
  .quality-list-item:last-child img {
    width: 100%;
    height: 400px;
    border-radius: 64px;
  }
  /* !!! */
  .quality-img-title {
    padding: 0 28px 0 28px;
  }
  .quality-img-p.last {
    padding: 0 132px;
  }
  .quality-img-p.first {
    padding: 0 23px;
  }
}
@media only screen and (min-width: 1440px) {
  .quality-list-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 48px) / 3);
  }
  .quality-list {
    max-width: 1440px;
    gap: 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .quality-list-item img {
    height: auto;
    border-radius: 32px;
    width: auto;
  }
  .quality-list-item:last-child img {
    width: auto;
    height: auto;
    border-radius: 32px;
  }
  .quality-img-p.first {
    padding: 0;
  }
  .quality-img-p.last {
    padding: 0;
  }
  .quality-img-title {
    padding: 0;
  }
  .quality-title {
    margin: 0 336px 24px 336px;
  }

  .quality-title-p {
    max-width: 768px;
    margin: 0 auto;
  }
}
