/* Common styles */
@import url('./fonts.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./mobile-menu.css');
@import url('./hero.css');
@import url('./welcome.css');
@import url('./quality.css');
@import url('./experience.css');
@import url('./subscribe.css');
@import url('./testimonials.css');
@import url('./location.css');
@import url('./footer.css');
