@import url('base.css');

.testimonial {
  padding: 64px 0;
}

.head-test {
  text-align: left;
  margin-bottom: 24px;
}

.test-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.test-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 32px;
  padding: 32px;
  width: 100%;
  min-width: 265px;
  background-color: #c29d84;
}

.icon-block {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .test-item {
    flex: 1 1 calc(50% - 24px);
    display: flex;
  }

  .icon-block {
    margin-bottom: 0px;
  }

  .description {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .test-item {
    flex: 1 1 calc(25% - 24px);
    display: flex;
    min-width: 310px;
  }

  .head-test {
    display: block;
    width: 416px;
    font-size: 48px;
  }
}

.test-icon {
  margin-bottom: 24px;
  display: flex;
  gap: 4px;
}

.star-icon-not {
  fill: transparent;
  stroke: #0b0803;
}

.description {
  font-size: 18px;
}

.name-test {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
