@media (min-width: 768px) {
  .welcome{
    height: 704px;
  }

.welcome-content{
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;


}
  .fnd-location{
    width: 181px;
  }
  .welcome-text{
    width: 338px;
  }
  .welcome-heading{
    width: 338px;
    margin: 0;
  }
  .welcome-heading-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-content: center;
    align-self: flex-start;
    margin-top: 33px;
  }


}
.welcome-image{

}
.welcome-heading-container h4,
.welcome-heading-container h2 {
  margin: 0;
}